{% extends 'skewtapp/base.html' %}


{% block content %}

<div class="container-fluid">
  <div class="row vh-100">
    <div id="frames-container"class="col-12 col-lg-8 d-flex-custom d-flex-row flex-lg-column">
      <div style="height: 80%" class="row">
        <div id=tephi-wind-cld-container class="col-12">
            <div id="Tephi">
              <div id="station-label"></div>
            </div>
            <div id="windbarbs"></div>
            <div id="clouds" class="d-none d-lg-block"></div>
        </div>
      </div>
      <div class="row flex-grow-1 d-lg-block d-none">
        <div id="tables-container" class="col-12 h-100">
          <div>
            <table>
              <tr>
                <td id="sfc-temp"></td>
                <td id="sfc-RH"></td>
              </tr>
              <tr>
                <td id="parcel-temp"></td>
                <td id=lifted-index></td>
              </tr>
              <tr>
                <td id="parcel-cape"></td>
                <td id="date" style="color: #E9D427;font-family: 'Arial';"></td>
              </tr>
            </table>
          </div>
          <div id="marquee">
            <div>
              <h1>SkewT.org</h1>
              <a class="btn btn-primary" href="/about-skewtorg"> About </a>
            </div>
          </div>
          <div id="ascent-stats">
            <table id="profile-table">
              <tr>
                <td style="opacity: 0.7">Altitude</td>
                <td id="as-altitude"></td>
              </tr>
              <tr>
                <td style="opacity: 0.7">Wind Direction</td>
                <td id="as-winddir"></td>
              </tr>
              <tr>
                <td style="opacity: 0.7">Wind Speed</td>
                <td id="as-windspeed"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div id="windy" class="windyapi col-12 col-lg-4"> </div>
  </div>
</div>

{% endblock %}
    
