<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124270517-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-124270517-1');
      </script> -->

    <title>Tephigrams & SkewTs | weather data from the upper atmosphere</title>
    <!-- <meta name="keywords" content="tephigram, tephigrams, SkewT-LogP, skewt, forecast, weather, wind, atmosphere, sounding, balloon, raob, radiosonde">
    <meta name="description" content="Tephigram and SkewT diagrams displaying radiosonde data from weather balloons, as well as vertical profiles from NWP models.  ">
    <meta name="author" content="John C. Kealy">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Tephigrams & SkewTs | weather data from the upper atmosphere">
    <meta property="og:description" content="Tephigram and SkewT diagrams displaying radiosonde data from weather balloons, as well as vertical profiles from NWP models.">
    <meta property="og:image" content="/static/example_tephi.jpg">
    <meta property="og:url" content="https://skewt.org">
    <meta property="twitter:url" content="https://skewt.org">
    <meta property="twitter:title" content="Tephigrams & SkewTs | weather data from the upper atmosphere">
    <meta property="twitter:description" content="Tephigram and SkewT diagrams displaying radiosonde data from weather balloons, as well as vertical profiles from NWP models.">
    <meta property="twitter:image" content="/static/example_tephi.png"> -->

    <!-- <link href='https://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'> -->

    {% render_bundle 'main' 'css' 'DEFAULT' %}

  </head>
  <body>
    <div class="container-fluid">
        <div class="row vh-100">
          <div id="frames-container"class="col-12 col-lg-8 d-flex-custom d-flex-row flex-lg-column">
            <div style="height: 80%" class="row">
              <div id=tephi-wind-cld-container class="col-12">
                 <div id="Tephi">
                   <div id="station-label"></div>
                 </div>
                 <div id="windbarbs"></div>
                 <div id="clouds" class="d-none d-lg-block"></div>
              </div>
            </div>
            <div class="row flex-grow-1 d-lg-block d-none">
              <div id="tables-container" class="col-12 h-100">
                <div>
                  <table>
                    <tr>
                      <td id="sfc-temp"></td>
                      <td id="sfc-RH"></td>
                    </tr>
                    <tr>
                      <td id="parcel-temp"></td>
                      <td id=lifted-index></td>
                    </tr>
                    <tr>
                      <td id="parcel-cape"></td>
                      <td id="date" style="color: #E9D427;font-family: 'Arial';"></td>
                    </tr>
                  </table>
                </div>
                <div id="marquee">
                  <div>
                    <h1>SkewT.org</h1>
                    <h3>Add about btn</h3>
                  </div>
                </div>
                <div id="ascent-stats">
                  <table id="profile-table">
                    <tr>
                      <td style="opacity: 0.7">Altitude</td>
                      <td id="as-altitude"></td>
                    </tr>
                    <tr>
                      <td style="opacity: 0.7">Wind Direction</td>
                      <td id="as-winddir"></td>
                    </tr>
                    <tr>
                      <td style="opacity: 0.7">Wind Speed</td>
                      <td id="as-windspeed"></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div id="windy" class="windyapi col-12 col-lg-4"> </div>
        </div>
      </div>
      
      

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>    
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://api4.windy.com/assets/libBoot.js"></script>
    {% render_bundle 'main' 'js' 'DEFAULT' %}
  </body>
</html>
