table {
    width:100%;
    height:100%;
    font-size: 1.1em;
   }
   
   tr, td {
     font-family: "Helvetica";
     border: 1px solid black;
     background: #1A1A1A;
     text-align: right;
     padding-right: 10px;
     color: white;
   }
   
   th {
     padding-right: 10px;
     color: #cccccc;
   }
   
   
   #marquee{
     color: white;
     font-size: 2em;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #B3CCFF;
   
     h1 {
       font: 0.8em 'Berkshire Swash', sans-serif;
       color: #093F29;
     }
   }
   